﻿@model WebProjectAzure.Models.AbonnementModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AbonnementModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateDebut" class="control-label"></label>
                <input asp-for="DateDebut" class="form-control" />
                <span asp-validation-for="DateDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duree" class="control-label"></label>
                <input asp-for="Duree" class="form-control" />
                <span asp-validation-for="Duree" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="TarifMensuel" class="control-label"></label>
                <input asp-for="TarifMensuel" class="form-control" />
                <span asp-validation-for="TarifMensuel" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="TarifMensuel" class="control-label"></label>
                <select class="form-control" id="TarifMensuel" name="TarifMensuel">
                    <option>10</option> 
                    <option>20</option> 
                    <option>30</option> 
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
